.divider {
  padding: 10px 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bumper-image {
  width: 100%;
  max-width: 700px;
}
.rendered-time {
  text-align: center;
}
.credits {
  position: absolute;
  padding: 5px;
  font-family: Architect;
  bottom: 0;
  right: 0;
}