// Colors
$main-color: rgb(41, 37, 87);
$accent-color: rgb(48, 43, 99);
$light-accent-color: lighten($main-color,50%);
$shade-color: rgb(230, 230, 230);
// Spacing
$logo-size: 1.6rem;
$all-cap-size: 0.9rem;
$title-size: 1.7rem;
$subtitle-size: 1.5rem;
$minititle-size: 1.2rem;
$small-size: 0.8rem;